<DOCTYPE>
    <html>
        <head>
            <title>Home - Proof Of Concept Blockchain NFT Unity3D</title>
            <link rel="stylesheet" href="/css/index.css" >
        </head>
        <body>
            <div>
                Index Home Page <br/>
                Proof Of Concept Blockchain NFT Unity3D
            </div>
            <div>
                The Vision Page <br/>
                The Vision of Proof of Concept NFT BlockChain Unity3D            
            </div>
        </body>
    </html>